@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model List<OBeefSoup.Models.MenuItem>

@foreach (var item in Model)
{
    if (item.SubMenus != null && item.SubMenus.Any(sm => sm.IsActive))
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="@item.Url" id="navbarDropdown@item.Id" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                @if (!string.IsNullOrEmpty(item.Icon)) { <i class="bi @item.Icon me-1"></i> } @Localizer[item.Title]
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown@item.Id">
                @foreach (var sub in item.SubMenus.Where(sm => sm.IsActive).OrderBy(sm => sm.DisplayOrder))
                {
                    <li><a class="dropdown-item" href="@sub.Url">@Localizer[sub.Title]</a></li>
                }
            </ul>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" href="@item.Url">
                @if (!string.IsNullOrEmpty(item.Icon)) { <i class="bi @item.Icon me-1"></i> } @Localizer[item.Title]
            </a>
        </li>
    }
}
